<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoodEx Platform</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
        .container {
            display: flex !important;
            flex-wrap: wrap !important;
        }
        #item {
            flex: 0 0 33.333333%;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" href="/notification/">Notifications</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" href="/user/requests">Received requests</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser}}">My profile</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser + '/posts'}}">My posts</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 80rem" aria-current="page" th:href="@{/logout}">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br>
<h1 class="text-center" style="color: midnightblue">Notifications</h1>
<br>
<div class="container" style="width: 100%">
    <div id="item"   th:each="notification:${notifications}">
        <div class="card" style="width: 70vw; height: 10vh;">
            <div class="card-container">
                <br>
                <p class="card-text" th:text="${notification.getContent()}"> </p>
                <form style="position: absolute; left: 60%; bottom: 2%" th:action="@{${'/notification/delete/' + notification.getNotificationId()}}" method="post" >
                    <input  class="btn btn-danger" type="submit" value="Delete"/>
                </form>
                <br>
            </div>
        </div>
        <br> <br>
    </div>
</div>
</body>
</html>