<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoodEx Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" media=”screen” />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser + '/requests'}}">Received requests</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser}}">My profile</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser + '/posts'}}">My posts</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 80rem" aria-current="page" th:href="@{/logout}">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
        <br> <br>
        <div class="card" style="width: 25rem; margin: auto">
            <img th:src="${post.getPhotoSource()}" class="card-img-top" style="height: 20rem;" alt="Photo">
            <div class="card-body">
                <h5 th:text="${post.getTitle()}"></h5>
                <p>Posted by: <span th:text="${post.getAuthor().getEmail()}"></span></p>
                <p>Category: <span th:text="${post.getCategory()}"></span></p>
                <p>Date posted: <span th:text="${post.getDate().toString().substring(0, 10)}"></span></p>
                <p th:text="${post.getContent()}" class="card-text"></p>

                <form th:if="${not isAuthor}"
                      th:action="@{/request/new}"
                      method="post">
                    <select name="postToChoose">
                        <option th:each="v : ${postsToChoose}" th:value="${v}" th:text="${v}">
                        </option>
                    </select>
                    <input type="hidden" name="postId" th:value="${postId}" />
                    <br>
                    <button type="submit" class="btn btn-primary" style="display: flex; justify-content: center; ">Request change</button>
                    <br>
                </form>
                <br>
                <a class="btn btn-primary" style="display: flex; justify-content: center; " th:href="@{${'/post/' + post.getPostId() + '/chat'}}">Chat with owner</a>
                <br>
                <form style="position: absolute; left: 60%; bottom: 2%; top: 77.5%; " action="#" th:action="@{${'/post/delete/' + post.getPostId()}}" method="post" >
                    <input  class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </div>
        </div>
        <br> <br>
</div>
</body>
</html>