<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoodEx Platform</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <style>
        .container {
            display: flex !important;
            flex-wrap: wrap !important;
        }
        #item {
            flex: 0 0 33.333333%;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" href="/notification/">Notifications</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" href="/user/requests">Received requests</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser}}">My profile</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 78rem" aria-current="page" th:href="@{${'/user/' + currentUser + '/posts'}}">My posts</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active" style="position: relative; left: 80rem" aria-current="page" th:href="@{/logout}">Log out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br>
<h1 class="text-center" style="color: midnightblue">My requests</h1>
<br>
<div class="container" style="width: 100%">
    <div id="item"   th:each="request:${requests}">
        <div class="card" style="width: 70vw; height: 10vh;">
            <div class="card-container">
                <p class="card-text">User sent you a request for the following post
                    <span style="font-weight: bold;" th:text="${request.getReceiverPost().getTitle()}"></span>
                    and in exchange they offer you:
                    <span style="font-weight: bold;" th:text="${request.getRequesterPost().getTitle()}"></span>
                </p>
                <a th:href="@{${'/post/' + request.getRequesterPost().getPostId()}}" class="btn btn-warning">Their post</a>
                <a th:href="@{${'/post/' + request.getReceiverPost().getPostId()}}" class="btn btn-warning">Your post</a>
                <br><br><br>
                <form th:action="@{/request/accept}" method="post">
                    <input type="hidden" name="requesterPostId" th:value="${request.getRequesterPost().getPostId()}" />
                    <input type="hidden" name="receiverPostId" th:value="${request.getReceiverPost().getPostId()}" />
<!--                    <input type="hidden" name="requesterId" th:value="${request.getRequester().getUserId()}" />-->
<!--                    <input type="hidden" name="receiverId" th:value="${request.getReceiver().getUserId()}" />-->
                    <input type="hidden" name="requestId" th:value="${request.getRequestId()}" />

                    <button style="position: absolute; left: 50%; bottom: 2%" type="submit" class="btn btn-success">Accept</button>
                </form>

                <form th:action="@{/request/decline}" method="post">
                    <input type="hidden" name="requestId" th:value="${request.getRequestId()}" />
                    <input type="hidden" name="requesterPostId" th:value="${request.getRequesterPost().getPostId()}" />

                    <button style="position: absolute; left: 70%; bottom: 2%" type="submit" class="btn btn-danger">Decline</button>
                </form>
            </div>
        </div>
        <br> <br>
    </div>
</div>
</body>
</html>